{% load static%}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portf </title>
    <link rel="icon" type="image/x-icon" href="./Images/favicon.jpeg">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>`
    
    <!-- Navbar Section -->
    <nav id="navbar" class="flex s-around bg-color">
        <div class="left-nav">
            <h2 class="t-white">R3OPORTFOLIO</h2>
        </div>
        <div class="right-nav">
            <ul class="flex">
                <li><a href="#home" class="t-white roboto">Home </a></li>
                <li><a href="#about" class="t-white roboto">About Me </a></li>
                <li><a href="#skills" class="t-white roboto">Skills </a></li>
                <li><a href="#Projects" class="t-white roboto">Projects </a></li>
                <li><a href="#Contact" class="t-white roboto">Contact </a></li>
            </ul>
        </div>
    </nav>

        

    <!-- Home Section -->
    <section id="home" class="flex s-around sw-80 m-auto">
        <div class="home-left flex items-center">
            <div class="home-content">
                <h1 class="poppinss">CC6L PORTFOLIO PROJECT</h1>
                <a href="{% static 'pdf/Resume.pdf' %}"  target="_blank">
                    <button class="btn poppins">Resume</button></a>

            </div>
        </div>
        <div class="home-right flex s-center items-center">
            <div class="circle flex s-center items-center" id="mainImage">
               
                <img src="{% static 'images/MyPic.png'%}" alt="">
            </div>

        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <h1 class="t-center my-2 t-Black f-2">About Me</h1>
        <div class="about-container flex s-around ">
            <div class=" about-left flex s-center items-center">
                <!-- Here in src replade the given link with your secondary image link -->
                <img src="{%static 'images/About.png'%}" alt="" style="width: 60%;">
            </div>

            <div class="about-right flex">
                <div class="about-content">
                    <h1 class="t-Black m-b-1 poppins">Reodel Calilung</h1>
                    <p class="t-Black poppins">I'm a student in IT with fundamental
                        knowledge and skills in computer
                        networking, Basic Graphic Layout design.
                        
                        
                        
                        I am fresher, I’m passionate about creating quality products that meet all of the customer’s needs, and I love learning new techniques and technologies that allow me to make that happen.While I generally enjoy all of my job, the part I find most draining is estimating projects for customers. I don’t mind doing it, but I enjoy actually creating the software much more.</p>
                        <a href="{% static 'pdf/Resume.pdf' %}"  target="_blank">
                            <button class="btn poppins">Hire Me</button></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Skills Section -->
    <section id="skills">
        <h1 class="t-center my-2 t-Black f-2">Skills</h1>
        <div class="services-container flex s-around h-50">
        <div class=" skills-left flex s-center items-center">
            <img src="{%static 'images/Skills.png'%}" alt="">
        </div>

        <div class="skills-right flex items-center">
            <div class="skillss-container">
                <div class="java bar p-relative"><span class="bar-content left t-Black"> Photoshop</span><span
                        class="bar-content right-skills t-Black">88%</span></div>
                <div class="html bar p-relative"><span class="bar-content left t-Black">Canva</span><span
                        class="bar-content right-skills t-Black">88%</span></div>
                <div class="css bar p-relative"><span class="bar-content left t-Black">Photographer</span><span
                        class="bar-content right-skills t-black">80%</span></div>
                <div class="js bar p-relative"><span class="bar-content left t-Black">Canva</span><span
                        class="bar-content right-skills t-black">60%</span></div>
                <div class="python bar p-relative"><span class="bar-content left t-Black">Filmora</span><span
                        class="bar-content right-skills t-Black">50%</span></div>
                <div class="mysql bar p-relative"><span class="bar-content left t-Black">Programming</span><span
                        class="bar-content right-skills t-Black">40%</span></div>        
            </div>
        </div>
        </div>
    </section>

    

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class=" t-center my-2 t-Black f-2">Projects</h1>
        <div class="projects-container flex s-center">
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">Layout Design</h1>
                <p class="t-white poppins">I'm Layout/Graphic Artist crating pubmats posting in social media flatform that provides Information for co-students like enrollment schedule with specific dates for different year levels in SITE Organization.</p>
                <div class="buttons flex s-around">
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">

                <h1 class="t-white poppins">Protographer</h1>
                <p class="t-white poppins">Photographer of organization, the primary role would be to capture high-quality images that visually represent and document the organization's activities, events, people, and overall mission.</p>
                <div class="buttons flex s-around">
                </div>
            </div>
            <div class="projects-item flex f-col s-center items-center">
               
                <h1 class="t-white poppins">UI/UX Design</h1>
                <p class="t-white poppins">I'm a UI/UX designer working with Canva, Photoshop, and Figma my primary responsibilities would revolve around creating visually appealing and user-friendly designs for web design, and mobile applications.</p>
                <div class="buttons flex s-around">
                </div>
            </div>
           
         </div>

        </div>
    </section>

    <!-- Contact Me Section -->
    <section id="Contact" class="m-b-1">
        <h1 class=" t-center my-2 t-Black f-2">Contact Me</h1>
        <div class="contact-container flex s-around items-centers">
            <div class="form" id="contactForm">
                <form method="post" > 
                    {% csrf_token %}
                    <div class="name form-div">
                        <input type="text" name="name" id="name" class="poppins" placeholder="Enter Your Name">
                    </div>

                    <div class="email form-div">
                        <input type="email" name="email" id="" class="poppins" placeholder="Enter Your Email"
                            required>
                    </div>

                    <div class="phone form-div">
                        <input type="phone" name="number" id="" class="poppins" placeholder="Enter Your Phone"
                            required>
                    </div>
                    
                    <div class="textarea form-div">
                        <textarea name="content" id="textarea" cols="30" rows="10" class="poppins"
                            placeholder="Enter Messages"></textarea>
                    </div>
                    <button type="submit" class="btn poppins" id="submit">Send</button>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer id="footer">
        <ul class="flex s-center w-80 m-auto my-2 res">
            <li><a href="#home" class="poppinss">Home</a></li>
            <li><a href="#about" class="poppinss">About</a></li>
            <li><a href="#skills" class="poppinss">Skills</a></li>
            <li><a href="#projects" class="poppinss">Projects</a></li>
            <li><a href="#portfolio" class="poppinss">Portfolio</a></li>
        </ul>
        <ul class="flex s-center w-80 font-awesome ">
            <a href="https://www.linkedin.com/in/reodel-calilung-102589251?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
                <li><i class="fa-brands fa-linkedin-in"></i></li>
            </a>
            <a href="https://github.com/reodelsuarezcal" target="_blank">
                <li><i class="fa-brands fa-github"></i></li>
            </a>
                <a href="https://www.instagram.com/reodel.calilung04?igsh=eGozbno5ZGh6ajd5" target="_blank">
                    <li><i class="fa-brands fa-instagram"></i></li>
            </a>
            
        </ul>
        <p class="t-center my-2 poppins">&copy; All Rights Reserved - <span class="cpy-white poppins">cc6l/djangoproject
                </span></p>

    </footer>
     
</body> 
</html>
